.news-scroller {
    width: 100%;
    overflow: hidden; /* Hide the overflowing content */
    position: relative;
  }
  
  .news-items {
    display: flex;
    flex: 1;
    animation: scroll-news 15s linear infinite; /* Make sure this runs continuously */
  }
  
  .news-item {
    display: inline-block;
    white-space: nowrap;
    padding-right: 30px; /* Adjust space between content */
    font-family: heading, sans-serif;
  }
  
  .news-scroller img,
  .news-scroller p {
    display: inline-block;
    margin: 0 10px;
  }
  
  @keyframes scroll-news {
    0% {
      transform: translateX(0); /* Start at the beginning */
    }
    100% {
      transform: translateX(-50%); /* Move the content by 50% of the container's width */
    }
  }