.button-big {
	background-color: #000;
	display: inline-block;
    left: -10%;
	font-family: "Heading", sans-serif;
	font-size: 2.5em;
	color: #FFDF9B;
	border: 1px solid #FFDF9B;
	box-shadow: 0px 3px #FFDF9B;
	width: 37em;
	position: relative;
	top: -7px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	transition: 0.4s top, 0.2s color, 0.2s background-color, 0.2s box-shadow; 
}

.button-big:hover {
	top: 1px;
	box-shadow: 0px 2px #FFDF9B;
}

.button-big:active {
	top: 2px;
	box-shadow: 0px 1px #FFDF9B, 0px 1px 10px #FFDF9B;
	background-color: #FFDF9B;
	color: #000;
}