.button-blue {
	background-color: #000;
	display: inline-block;
	font-family: "Heading", sans-serif;
	font-size: 1.2em;
	color: #303659;
	border: 1px solid #303659;
	box-shadow: 0px 3px #303659;
	width: 10em;
	position: relative;
	top: 0px;
	padding-top: 0.2em;
	padding-bottom: 0.1em;

	transition: 0.4s top, 0.2s color, 0.2s background-color, 0.2s box-shadow; 
}

.button-blue:hover {
	top: 1px;
	box-shadow: 0px 2px #303659;
}

.button-blue:active {
	top: 2px;
	box-shadow: 0px 1px #303659, 0px 1px 10px #303659;
	background-color: #303659;
	color: #000;
}





