.button-purple {
	background-color: #000;
	display: inline-block;
	font-family: "Heading", sans-serif;
	font-size: 1.2em;
	color: #53487A;
	border: 1px solid #53487A;
	box-shadow: 0px 3px #53487A;
	width: 10em;
	position: relative;
	top: 0px;
	padding-top: 0.2em;
	padding-bottom: 0.1em;

	transition: 0.4s top, 0.2s color, 0.2s background-color, 0.2s box-shadow; 
}

.button-purple:hover {
	top: 1px;
	box-shadow: 0px 2px #53487A;
}

.button-purple:active {
	top: 2px;
	box-shadow: 0px 1px #53487A, 0px 1px 10px #53487A;
	background-color: #53487A;
	color: #000;
}





